body {
 background-image: url("/image/background_0002_Layer%202.jpg");
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: gold;
    font-family: 'Staatliches', cursive;
}
p {
    font-family: 'Poppins', sans-serif;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    padding: 10px 60px
}
.logo {
    width:35%;
    cursor:zoom-in;
    position: absolute;
    top: 16%;
    left:32%;
}
.me {
    width:35%;
    position:relative;
    left:31%;
    cursor:zoom-in;
    height: 40%;
    width: 40%;
    border-radius: 50%;
}
.info {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    position: relative;
    left: 610px;
    top: 630px;
}